.image img{
    width: 90%;
    border-radius: 50%;
    margin: 7px;
    display: inline-block;
    padding-right: 30px;
    padding-bottom:20px ;
    margin-top: 40px;}
    
    
    .intrests img{
    width: 50px;
    display: inline-block;

}
.contact img{
    width: 18px;
    display: inline-block;

}